@charset "utf-8";
/* CSS Document */
@font-face {
  font-family: 'iconfont';  /* project id 363964 */
  src: url('http://at.alicdn.com/t/font_d8ui6g5xd0od2t9.eot');
  src: url('http://at.alicdn.com/t/font_d8ui6g5xd0od2t9.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_d8ui6g5xd0od2t9.woff') format('woff'),
  url('http://at.alicdn.com/t/font_d8ui6g5xd0od2t9.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_d8ui6g5xd0od2t9.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:20px;
  font-style:normal;
  color:#d74b40;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-gouwuche:before { content: "\e69c"; }
.icon-dianhua:before { content: "\e602"; }

.chanp-list-to{ width:100%; float:left;display:block;}
.chanp-list-to ul{ float:left; width:100%; margin-left:-40px; margin-top:40px;}
.chanp-list-to ul li{ display:block; float:left; width:35%; margin-top:40px; padding:10px; margin-left:80px;}
.chanp-list-to ul li .cp-pic{ float:left;}
.chanp-list-to ul li .cp-pic a img{ursor: pointer; transition: all 1s; width:100%; text-align:center;}
.chanp-list-to ul li .cp-pic a img:hover{transform: scale(1.2);}
@media screen and (max-width:1600px){
	.chanp-list-to{ width:100%; float:left;display:block;}
	.chanp-list-to ul{ float:left; width:100%; margin-left:-40px; margin-top:40px;}
	.chanp-list-to ul li{ display:block; float:left; width:35%; margin-top:20px; padding:10px; margin-left:45px;}
	.chanp-list-to ul li .cp-pic{ float:left;}
	.chanp-list-to ul li .cp-pic a img{ursor: pointer; transition: all 1s; width:100%; text-align:center;}
	.chanp-list-to ul li .cp-pic a img:hover{transform: scale(1.2);}
	}
.new-list{ width:100%; float:left; display:block;}
.new-list ul{ float:left; width:100%; margin-left:-40px; margin-top:40px;}
.new-list ul li{ display:block; float:left; width:95%; margin-top:40px; padding:10px; margin-left:5%;}
.new-list ul li .new-left{ float:left; width:25%; margin-left:10px;}
.new-list ul li .new-left img{width:100%;}
.new-list ul li .new-right{ float:left; width:68%; margin-left:20px; font-size:14px;}
.new-list ul li .new-right .title{ font-size:1rem; color:#e22011; line-height:1.4rem; max-width:500px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.new-list ul li .new-right .text{text-indent:25px; margin-top:5px; color:#4a4a4a; line-height:1.4rem; font-size:0.8rem;}
.new-list ul li p{ margin-bottom:0;}

.tes{ font-size:4rem; color:#676767; float:left;}
p{ margin-bottom:0 !important;}
.tongy{ width:100%; float:left; margin:30px 0;}
.tongy02{ float:left; margin:40px 0; text-align:center; padding-left:10px; width:120px;}
.texts{ float:left; margin-left:10px; line-height:0.8rem;}
.bottomd{ bottom:80px; text-align:center; width:100%; line-height:24px; position:absolute; display:block;}
.lianxime{ float:left; padding:5% 10% 30% 10%;}
.lianxime p{ line-height:2.4rem; padding-left:10px; font-size:1.1rem; float:left; width:100%;}

.pinpai{ width:70%; float:left; padding-left:30%; font-size:0.8rem;}
.pinpai p{ line-height:40px;}
.gushitb{ position:absolute; left:23%;}
.fubiao{color:#747474; margin-top:10px; font-size:0.8rem;}
.ppjianj{ width:90%; float:left; margin-left:10%; font-size:0.8rem;}
.ppjianj p{line-height:2rem;}

.menu{ width:6%; color:#fff; position:fixed; display:none; left:20px; z-index:1000;}
.menu ul{ margin:0; padding:0;}
.menu ul li{ list-style-type:none; background:url(../images/menu-bg.png) repeat;  display:block; width:100%; text-align:center; font-size:14px; margin-top:1px; padding:5px 0;}
.menu ul li:hover{ background-color:#e32424;}
.menu ul .on{ background-color:#e32424;}
.menu ul li a{color:#fff; text-decoration:none;}
.menu ul li a .toum{ opacity:0.5; font-size:12px;}
/*--*/

.chanp-list{ width:100%; float:left; background-color:#f0f0f0; display:block;}
.chanp-list ul{ float:left; width:100%; margin-left:-40px;}
.chanp-list ul li{ display:block; float:left; width:26%; background-color:#fff; height:340px; margin-top:40px; padding:10px; overflow:hidden; border:1px solid #EEE; margin-left:40px;}
.chanp-list ul li:hover{border:1px solid #d74b40;}
@media screen and (max-width:1600px){
	.chanp-list{ width:100%; float:left; background-color:#f0f0f0; display:block;}
	.chanp-list ul{ float:left; width:100%; margin-left:-40px;}
	.chanp-list ul li{ display:block; float:left; width:40%; background-color:#fff; height:380px; margin-top:40px; padding:10px; overflow:hidden; border:1px solid #EEE; margin-left:40px;}
	.chanp-list ul li:hover{border:1px solid #d74b40;}
	.cp-pic{ float:left; width:100%;}
	}
.fl{ float:left; width:100%; margin-top:20px;}
.cp-pic{ float:left;}
.cp-pic a img{ursor: pointer; transition: all 7s; width:100%; text-align:center;}
.cp-pic a img:hover{transform: scale(1.2);}
.title-text{ width:100%; text-align:center; line-height:30px; font-size:14px; margin-top:10px; float:left; font-size:0.8rem;}
.goumai{ display:block; line-height:30px; background-color:#e9e9e9; float:right; text-decoration:none; color:#3f3f3f !important; border-top-left-radius:20px; border-bottom-left-radius:20px; margin-right:-10px; padding:0 10px }
.jiage{ line-height:35px; font-size:18px; color:#d74b40;}
.cp-bt{ background-color:#f0f0f0; width:100%; float:left; line-height:30px; font-size:24px; padding-left:40px; padding-top:20px;}
.title-bt{ width:25%; float:left; margin-left:28%; margin-top:30%; }
.title-bt img{ width:100%;}
.proxima-nova-bold{ font-size:1.2rem;}
.gaodus{min-height:925px;}
@media screen and (max-width:1600px){
.gaodus{ min-height:auto;}
	}	
.chanp-nav{ width:80px; position:absolute; top:10px; right:15px;}
.chanp-nav ul li{display: block;float: left;width: 100%;line-height: 40px; color: #fff;}
.chanp-nav ul li a{ color:#fff; text-decoration: none;}
.chanp-nav ul li a:hover{ color:#d74b40;}